<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Debargha Das</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />
</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <img src="{{ url_for('static', filename='images/mast_clipart_1.png') }}" alt="">
            <span>
              DEBARGHA DAS
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('index') }}"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#experience_section"> Experience </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#education_section"> Education </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#skill_section"> Skills </a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" href="#tool_section"> Tools/Skills </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact_section"> Contact </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <div class="detail_box">
              <h1>
                'Data Science' <br> is all about asking interesting questions <br> based on the data you have—<br>or often the data you don’t have.
              </h1>
              <p style="text-align: right;">
               <s>―Sarah Jarvis</s><br>
               -Debargha Das &#128540;
              </p>
              <a href="https://drive.google.com/uc?export=download&id=1Lt8VzfdQme7lM_SgRpTh8yFLc1YAPAFn" class="">
                Download Resume
              </a>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 offset-lg-1">
            <div class="img_content">
              <div class="img_container">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="img-box">
                        <img src="{{ url_for('static', filename='images/myself.jpg') }}" alt="">
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="img-box">
                        <img src="{{ url_for('static', filename='images/myself2.jpg') }}" alt="">
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="img-box">
                        <img src="{{ url_for('static', filename='images/myself3.jpg') }}" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="sr-only">Next</span>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>


  <!-- Education section -->
  <section class="service_section layout_padding" id="education_section">
    <div class="container">
      <div class="heading_container">
        <h2>
          Education Background
        </h2>
        <img src="{{ url_for('static', filename='images/mast_clipart_1.png') }}" alt="">
      </div>

      <div class="service_container">
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/iiitd.jpg') }}" class="img1" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Indraprastha Institute of Information Technology
            </h5>
            <p>
              Graduated with MTech. in Computer Science and Engineering (2019-2021)<br>
              CGPA : 8.19<br>

            </p>
          </div>
        </div>
        <div class="box active">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/iem.jpg') }}" class="img1" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Institute of Engineering & Management
            </h5>
            <p>
              Graduated with BTech. in Computer Science and Engineering (2015-2019)<br>
              CGPA : 8.92<br>
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/bnv.jpg') }}" class="img1" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Bholananda National Vidyalaya
            </h5>
            <p>
              Completed High School (2013-2014)<br>
              12th GRADE Perentage : 92.8%<br>
            </p>
          </div>
        </div>
        <div class="box ">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/dmhs.jpg') }}" class="img1" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Douglas Memorial Higher Secondary School
            </h5>
            <p>
              Completed Secondary School<br>(2007-2013)<br>
              10th GRADE Perentage : 94.33%<br>
            </p>
          </div>
        </div>
        <!-- <div class="box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/s5.png') }}" class="img1" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Electrical Wiring
            </h5>
            <p>
              There are many variations of passages of Lorem Ipsum available,
            </p>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div> -->
    </div>
  </section>
  <!-- end education section -->

  <!-- Experience section -->
  <section class="about_section layout_padding" id="experience_section">
    <div class="container">
      <div class="heading_container">
        <h2>
          Experience
        </h2>
        <img src="{{ url_for('static', filename='images/mast_clipart_1.png') }}" alt="">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div>
              <div class="heading_container">
                <h5 style="margin-top: 20px; padding: 5px">
                Fast Retailing | Senior Data Scientist<br>
                2021 ~ Present | Tokyo, JP
                </h5>
                
                <!-- <img src="{{ url_for('static', filename='images/mast_clipart_1.png') }}" alt=""> -->
              </div>
              <p style="margin: 0px; padding: 30px">
                I am a <b>Senior Data Scientist</b> at Fast Retailing, leading the <b>Data Analytics Team's</b> efforts in the <b>Demand Forecasting</b> Vertical. Our key aim is to produce <b>accurate long and short-term sales forecasts</b> to streamline our supply chain management and inventory allocation. My expertise lies in <b>Time-Series Analysis, Feature Engineering, Building ML systems, and continually refining these systems to maximize performance and cost-effectiveness</b>.
              </p>
              <a href="https://www.fastretailing.com/eng/about/">
                About The Company
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="{{ url_for('static', filename='images/fastretailing.jpg') }}" alt="" />
            </div>
            <!-- <div class="img-box b2">
              <img src="{{ url_for('static', filename='images/uniqlo.jpg') }}" alt="" />
            </div> -->
          </div>

        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div>
              <div class="heading_container">
                <h5 style="margin-top: 20px; padding: 5px">
                  Jadavpur Unversity | Intern<br>
                  June,2018~ August,2018 | Kolkata, IN
                  </h5>
                <!-- <img src="{{ url_for('static', filename='images/mast_clipart_1.png') }}" alt=""> -->
              </div>
              <p style="margin: 0px; padding: 30px">
                During my internship at the<b> Electrical Engineering Department</b> of <b>Jadavpur University</b>, I undertook challenging projects aimed at leveraging technology to study brain activity and enhance database management. In one project, I developed a <b>Python-based application to measure subjects' response time to visual stimuli</b>, paving the way for insightful research on brain processing. Additionally, I <b>designed a user-friendly JAVA-based application to automate the ingestion of tabular data into a cloud server</b>, streamlining the management of lighting data for Indian roads.
              </p>
              <a href="https://jadavpuruniversity.in/about/">
                About The University
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="{{ url_for('static', filename='images/jdv_uni.jpg') }}" alt="" />
            </div>
            <!-- <div class="img-box b2">
              <img src="{{ url_for('static', filename='images/uniqlo.jpg') }}" alt="" />
            </div> -->
          </div>

        </div>

      </div>
    </div>
  </section>

  <!-- end Experience section -->




  <!-- Project section -->

  <!-- <section class="blog_section layout_padding" id="project_section">
    <div class="container">
      <div class="heading_container">
        <h2>
          Projects
        </h2>
        <img src="{{ url_for('static', filename='images/mast_clipart_1.png') }}" alt="">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/blog1.jpg') }}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Project Title Goes Here
              </h5>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/blog2.jpg') }}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Project Title Goes Here
              </h5>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- end Project section -->
<!-- Tools section -->
<section class="service_section layout_padding" id="tool_section">
  <div class="container">
    <div class="heading_container">
      <h2>
        Tools
      </h2>
      <img src="{{ url_for('static', filename='images/mast_clipart_1.png') }}" alt="">
    </div>

    <div class="service_container">
      <div class="box">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/gbq.png') }}" class="img1" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Google BigQuery
          </h5>
          <p>
           Years of Experience : 3 years<br>
          </p>
        </div>
      </div>
      <div class="box active">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/gvai.png') }}" class="img1" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Google Vertex AI
          </h5>
          <p>
            Years of Experience : 3 years<br>
          </p>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/gemini.png') }}" class="img1" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Google Gemini
          </h5>
          <p>
            Years of Experience : 1 years<br>
          </p>
        </div>
      </div>
      <div class="box ">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/lks.png') }}" class="img1" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Looker Studio
          </h5>
          <p>
            Years of Experience : 1 years<br>
          </p>
        </div>
      </div>
      <div class="box ">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/drbt.png') }}" class="img1" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Data Robot
          </h5>
          <p>
            Years of Experience : 3 years<br>
          </p>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/tf.png') }}" class="img1" alt="">
        </div>
        <div class="detail-box">
          <h5>
            TensorFlow
          </h5>
          <p>
            Years of Experience : 5 years<br>
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="btn-box">
      <a href="">
        Read More
      </a>
    </div> -->
  </div>
</section>
<!-- end skills section -->

<section class="service_section layout_padding" id="skill_section">
  <div class="container">
    <div class="heading_container">
      <h2>
        Skills
      </h2>
      <img src="{{ url_for('static', filename='images/mast_clipart_1.png') }}" alt="">
    </div>

    <div class="service_container">
      <div class="box">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/sql.png') }}" class="img1" alt="">
        </div>
        <div class="detail-box">
          <h5>
            SQL
          </h5>
        </div>
      </div>
      <div class="box active">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/stats.png') }}" class="img1" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Probability & Statistics
          </h5>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/genai.png') }}" class="img1" alt="">
        </div>
        <div class="detail-box">
          <h5>
            LLMs : Fine Tuning & Prompt Tuning
          </h5>
        </div>
      </div>
      <div class="box ">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/dv.png') }}" class="img1" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Data Visualization
          </h5>
        </div>
      </div>
      <div class="box ">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/tsf.png') }}" class="img1" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Time Series Analysis and Forecasting
          </h5>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/fe.png') }}" class="img1" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Feature Engieerning
          </h5>
        </div>
      </div>
    </div>
    <!-- <div class="btn-box">
      <a href="">
        Read More
      </a>
    </div> -->
  </div>
</section>
<!-- end skills section -->

  <!-- contact section -->

  <!-- <section class="contact_section layout_padding" id="">
    <div class="container ">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
        <img src="{{ url_for('static', filename='images/plug.png') }}" alt="">
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form action="">
            <div>
              <input type="text" placeholder="Name" />
            </div>
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" placeholder="Phone Number" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" />
            </div>
            <div class="d-flex ">
              <button>
                SEND
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- end contact section -->


  <!-- contact info section -->

  <section class="info_section layout_padding" id="contact_section">
    <div class="container">
      <div class="heading_container">
        <h2>
          Contact Information
        </h2>
        <img src="{{ url_for('static', filename='images/mast_clipart_1_wt.png') }}" alt="">
        
      </div>
      
      <div class="info_contact">
        <div class="row">
          <div class="col-md-4">
            <a href="https://maps.app.goo.gl/Qf58rg3fRn2K1f2x7" target="_blank">
              <img src="{{ url_for('static', filename='images/location-white.png') }}" alt="">
              <span>
                4-1-3-706 OJIMA, KOTO-KU, TOKYO-TO
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="tel:818-03174-6332">
              <img src="{{ url_for('static', filename='images/telephone-white.png') }}" alt="">
              <span>
                Call : (+81)8031746332
              </span>
            </a>
          </div>
          <div class="col-md-4">
            <a href="mailto:debarghadas411@gmail.com">
              <img src="{{ url_for('static', filename='images/envelope-white.png') }}" alt="">
              <span>
                debarghadas411@gmail.com
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-8 col-lg-9">
          <div class="info_form">
            <form action="">
              <input type="text" placeholder="Enter your email">
              <button>
                subscribe
              </button>
            </form>
          </div>
        </div> -->
        <div class="col-md-4 col-lg-3">
          <div class="info_social">
            <div>
              <a href="https://www.facebook.com/debargha19118/" target="_blank">
                <img src="{{ url_for('static', filename='images/fb.png') }}" alt="">
              </a>
            </div>
            <div>
              <a href="https://x.com/DebarghaDas411" target="_blank">
                <img src="{{ url_for('static', filename='images/twitter.png') }}" alt="">
              </a>
            </div>
            <div>
              <a href="https://www.linkedin.com/in/debargha-das-69757510b/" target="_blank">
                <img src="{{ url_for('static', filename='images/linkedin.png') }}" alt="">
              </a>
            </div>
            <div>
              <a href="https://www.instagram.com/debargha411/" target="_blank">
                <img src="{{ url_for('static', filename='images/instagram.png') }}" alt="">
              </a>
            </div>
            <div>
              <a href="https://github.com/debarghadas411" target="_blank">
                <img src="{{ url_for('static', filename='images/github.png') }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-9 mx-auto">
          <p>
            &copy; 2024 All Rights Reserved By
            <a href="">Debargha Das</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer section -->


  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

</body>

</html>